body {
    width: 500px;
}

.no-padding {
    padding: 0px;
}

#btn-remove-all {
    margin-bottom: 10px;
}

.pat-image {
    width: 100%
}

.spinner {
    margin: 0 50%;
}

.no-left-margin {
    margin-left: 0px;
    margin-right: 5px;
}

.section-title {
    font-size: 20px !important;
    font-weight: bold;
}

.list-item {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.checkbox-backlog {
    margin-top: 7px !important;
    margin-left: 16px !important;
}

.container {
    padding: 20px;
}

.button-container {
    float: right
}

.red {
    color: red;
}

.pr-title {
    font-weight: bold;
}

.item-type {
    padding-left: 6px;
    padding-right: 6px;
    width: 63px;
    margin-right: 10px;
    min-width: 63px;
    text-align: center;
}

.feature {
    background-color: lightblue;
}

.epic {
    background-color: mediumorchid;
}

.task {
    background-color: gold;
}


.bug {
    background-color: Red;
}
