body {
    width: 500px;
}

#todo-list {
    margin-bottom: 10px;
}

.no-padding {
  padding: 0px;
}

#btn-remove-all {
    margin-bottom: 10px;
}
.spinner {
  margin: 0 50%;
}

.section-title {
  font-size: 20px !important;
  font-weight: bold;
}

.checkbox-backlog{
  margin-top: 7px  !important;
  margin-left: 16px  !important;
}


.pr-title{
  font-weight: bold;
}




.item-type{
  padding-left: 6px;
  padding-right: 6px;
  width: 63px;
  margin-right: 10px;
}

.feature{
background-color: lightblue;

}

.epic{
  background-color: mediumorchid;
}

.task{
background-color: gold;
}
